include README.md
include LICENSE.txt
include DOCUMENTATION.md
include requirements.txt
include main.py
include pyproject.toml
include aisbf.sh
include cli.py
recursive-include config *.json
recursive-include config *.md
recursive-include aisbf *.py
recursive-include aisbf *.sh
recursive-include aisbf/payments/wallet *.py
recursive-include templates *.html
recursive-include templates *.css
recursive-include templates *.js
recursive-include static *.zip
recursive-include static *.js
recursive-include static/i18n *.json
recursive-include static/extension *.js *.json *.html *.md *.png *.svg